html {
    scroll-behavior: smooth;
}

.MuiTimelineItem-missingOppositeContent {
    &:before {
        display: none;
        flex: 0;
    }
}

.ml-2 {
    margin-left: 1rem;
}

.mr-2 {
    margin-right: 1rem;
}
